.main-header {
    width: 1440px;
    margin: 0 auto;
    background:#EFF3F5;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: auto;
    z-index: 20;
    box-shadow: 0px 2px 30px rgba(196, 196, 196, 0.25);
}

.header-up {
    padding: 10px 80px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #E3E3E3;
    position: relative;
}

.header-up-adress {
    margin-right: 30px;
    align-self: center;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.header-up-email {
    align-self: center;
    margin-right: 30px;
    text-decoration: none;
}

.header-up-email-text {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.header-up-phone {
    align-self: center;
    text-decoration: none;
}

.header-up-phone-text {
    margin-right: 30px;
    font-family: 'roboto-bold', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.header-up-button {
    margin: 1.5px;
    border: 0.5px solid #445B94;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
}

.header-up-button:hover {
    margin: 0;
    border: 2px solid #445B94;
}

.header-up-button:active {
    margin: 2px;
    border: none;
}

@-moz-document url-prefix() {
    .header-up-button {
        margin: 1.5px;
    }
    .header-up-button:hover {
        margin: 0.5px;
    }
    .header-up-button:active {
        margin: 2.5px;
    }
}

.header-up-button-text {
    display: block;
    padding: 8px 20px;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.header-up-button:active .header-up-button-text {
    font-family: 'roboto-thin', sans-serif;
}

.header-logo-image {
    fill: #020414;
    position: absolute;
    top: 29px;
    left: 80px;
}

.header-logo-image:hover {
    filter: drop-shadow(2px 2px 0.3px rgb(196, 196, 196));
}

.header-down {
    padding: 15px 80px;
    display: flex;
    justify-content: flex-end;
}

/* .header-down-main-menu {} */

.header-down-main-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.header-down-main-menu-item {
    margin-left: 68px;
}

.header-down-main-menu-item:first-child {
    margin-left: 0;
}

.header-down-main-menu-link {
    text-decoration: none;
    padding-bottom: 3px;
}

.header-down-main-menu-link-text {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.header-down-main-menu-link:hover {
    border-bottom: 1px solid #EF3124;
}

.header-down-main-menu-link:active {
    border-bottom: 1px solid #EF312400;
}

.header-down-main-menu-link:active .header-down-main-menu-link-text {
    font-family: 'roboto-thin', sans-serif;
}
