@font-face {
    font-family: 'roboto-light';
    src: local('Roboto Light'),
         url('../fonts/roboto/roboto-light.eot');
    src: url('../fonts/roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light.woff') format('woff'),
         url('../fonts/roboto/roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: local('Roboto Regular'),
         url('../fonts/roboto/roboto-regular.eot');
    src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular.woff') format('woff'),
         url('../fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'roboto-medium';
	src: local('Roboto Medium'),
		 url('../fonts/roboto/roboto-medium.eot');
	src: url('../fonts/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto/roboto-medium.woff2') format('woff2'),
		 url('../fonts/roboto/roboto-medium.woff') format('woff'),
		 url('../fonts/roboto/roboto-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.main-header {
    margin: 0 auto;
    width: 1440px;
    background: #445B94;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: auto;
    z-index: 5;
    box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.25);
}

.header-up {
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3E3E3;
    position: relative;
}

.header-up-left {
    margin: 16px 0;
}

.header-up-left-adress {
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
}

.header-up-logo-link {
    display: block;
    align-self: center;
    position: absolute;
    left: calc(50% - 20px);
}

.header-up-logo {
    width: 40px;
}

.header-up-right {
    margin: 16px 0;
    display: flex;
    justify-content: flex-end;
}

.header-up-right-email {
    margin-right: 32px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'roboto-regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
}

.header-up-right-email:hover {
    text-decoration: underline;
}

.header-up-right-phone {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'roboto-regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
}

.header-up-right-phone:hover {
    text-decoration: underline;
}

.header-down {
    margin: 16px 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* .header-down-left-menu {} */

.header-down-left-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.header-down-left-menu-item {
    margin-right: 32px;
}

.header-down-left-menu-item:last-child {
    margin-right: 0;
}

.header-down-left-menu-link {
    font-family: 'roboto-light', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
}

.header-down-left-menu-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.header-down-left-menu-link:active {
    color: #ffffff;
}

.header-down-left-menu-link:visited {
    color: #ffffff;
}

.header-down-lk {
    display: block;
    width: 10%;
    align-self: center;
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    left: 45%;
}

.header-down-lk:hover {
    text-decoration: underline;
}

/* .header-down-right-menu {} */

.header-down-right-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-down-right-menu-item {
    margin-right: 32px;
}

.header-down-right-menu-item:last-child {
    margin-right: 0px;
}

.header-down-right-menu-link {
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
}

.header-down-right-menu-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.header-down-right-menu-link:active {
    color: #ffffff;
}

.header-down-right-menu-link:visited {
    color: #ffffff;
}

/* Контент страницы "О проекте" и "Контакты" */

.content-about {
    margin-top: 100px;
    padding-bottom: 190px;
    background-color:#efefef;
}

/* .about {} */

.about-header {
    margin-left: 356px;
    padding: 70px 0 50px;
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #333333;
}

.anchor:before {
    display: block;
    content: "";
    height: 120px;
    margin: -120px 0 0;
}

.about-article {
    margin-left: 80px;
    display: flex;
}

.about-article-image {
    width: 216px;
    display: block;
    border: 1px solid #2B3349;
}

.about-article-text-block {
    margin: 0 288px 0 60px;
}

.about-article-text {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.about-article-text:last-child {
    margin-bottom: 0;
}

.about-article-url {
    text-decoration: none;
    color: #333333;
}

.about-article-url:hover {
    text-decoration: underline;
}

.about-ask-question-button {
    margin: 40px 360px 0;
    padding: 7px 22px;
    width: 146px;
    display: block;
    text-decoration: none;
    outline: none;
    background: #445B94;
    color: #FFFFFF;
    border: 1px solid #636164;
    box-sizing: border-box;
    border-radius: 4px;
}

.about-ask-question-button:hover {
    background: #2B3349;
}

.about-ask-question-button-text {
    font-family: 'roboto-medium', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

.h-line {
    margin: 139px auto 0;
    width: 1210px;
    height: 1px;
    background: #000000;
}

.contacts-article {
    margin: 120px 80px 0;
    display: flex;
}

.contacts-map {
    box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.25);
}

.contacts-text {
    margin-left: 80px;
}

.contacts-text-header {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 48px;
    color: #333333;
}

.contacts-text-contact {
    margin-bottom: 20px;
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    color: #333333;
}

.contacts-text-address {
    margin: 40px 0 10px;
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    color: #333333;
}

.contacts-text-email {
    text-decoration: none;
    color: #333333;
}

.contacts-text-email:hover {
    text-decoration: underline;
}

.contacts-text-phone {
    text-decoration: none;
    color: #333333;
}

.contacts-text-phone:hover {
    text-decoration: underline;
}

.contacts-text-map-see {
    font-family: 'roboto-light', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #333333;
    text-decoration: none;
}

.contacts-text-map-see:hover {
    text-decoration: underline;
}

.contacts-text-map-see:active {
    text-decoration: underline;
}

.contacts-text-map-see:visited {
    text-decoration: none;
}

/* Контент страницы "Бизнесу" */

.content-2business {
    margin: 170px 80px 70px;
    background-color:#efefef;
    /* font-family: 'nunitosans-semibold', sans-serif;
    text-align: justify; */
}

/* Контент страницы "Финансовым организациям" */

.content-2finorg {
    margin-top: 100px;
    /* padding-bottom: 190px;
    background-color:#efefef;
    font-family: 'nunitosans-semibold', sans-serif;
    text-align: justify; */
}

/* Футер */

.main-footer {
    padding: 20px 80px;
    background: #2B3349;
    box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
}

/* .footer-info-left {} */

.footer-info-left-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-info-left-item {
    margin-bottom: 9px;
}

.footer-info-left-link {
    font-family: 'roboto-light', sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
}

.footer-info-left-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer-info-left-link:active {
    color: #ffffff;
}

.footer-info-left-link:visited {
    color: #ffffff;
}

.footer-info-right {
    margin-left: 100px;
}

.footer-info-right-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-info-right-item {
    margin-bottom: 6px;
}

.footer-info-right-link {
    font-family: 'roboto-light', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
}

.footer-info-right-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer-info-right-link:active {
    color: #ffffff;
}

.footer-info-right-link:visited {
    color: #ffffff;
}

.footer-links {
    display: flex;
}

.footer-social-links-block {
    margin-right: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer-social-link {
    margin: 0 9px;
    padding: 5px;
    color: #2B3349;
    background-color: #D9D9D6;
    border-radius: 5px;
}

.footer-social-link:hover {
    color: #D9D9D6;
    background-color: #000000;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-email {
    margin-bottom: 13px;
    display: block;
    font-family: 'roboto-light', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
}

.footer-email:hover {
    text-decoration: underline;
}

.footer-phone {
    display: block;   
    font-family: 'roboto-light', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
}

.footer-phone:hover {
    text-decoration: underline;
}