.to-business {
    padding-bottom: 194px;
}

.to-business-header {
    margin: 0 0 70px 0;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    color: #333333;
    text-align: center;
}

.to-business-info {
    display: flex;
    justify-content: space-between;
}

.to-business-texts {
    max-width: 550px;
}

.to-business-text {
    margin: 0 0 30px;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.to-business-list-items {
    list-style: none;
    margin: 0;
}

.to-business-list-item {
    margin-bottom: 17px;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
    position: relative;
}

.to-business-list-item:before {
    position: absolute;
    left: -31px;
    top: 9px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #727272;
    content: "";
}

.to-business-img {
    display: block;
    margin-left: 150px;
}

.horizontal {
    width: 100%;
    height: 1px;
    margin: 0 0 132px 0;
    background: #000000;
}


.why-we-header {
    margin: 0;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    color: #333333;
    text-align: center;
}

.why-we-list {
    margin: 0;
    padding: 50px 102px 0 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.why-we-list-item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px 0;
    max-width: 449px;
}

.why-we-list-item-img {
    margin-right: 22px;
    display: block;
}

.why-we-article-header {
    margin: 0 0 15px;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.why-we-article-text {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}

/*
.why-we-under {
    margin-right: 95px;
    display: flex;
    justify-content: flex-end;
}*/
