.block1 {
    background:  #EFF3F5;
    display: flex;
    justify-content: space-between;
}

.block-inner {
    padding: 65px 80px;
}

.block1__about-leasing {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.about-leasing__title {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}

.about-leasing__description {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.button--about-leasing {
    width: 398px;
    height: 72px;
    background: #E7576B;
    box-shadow: 0px 4px 10px rgba(231, 30, 40, 0.25);
    border-radius: 10px;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    box-shadow:0px 2px 4px 2px rgba(184,183,183,0.79);
    -webkit-box-shadow:0px 2px 4px 2px rgba(184,183,183,0.79);
    -moz-box-shadow:0px 2px 4px 2px rgba(184,183,183,0.79);
}

.button--about-leasing:hover {
    background: #C51A32;
}

.button--about-leasing:active {
    background: #C51A32;
	box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4) inset; 
	-webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4) inset; 
	-moz-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4) inset;
}

.block1__partners {
    max-width: 450px;
    margin-left: 30px;
    box-shadow: 0px 50px 0px 0px #DFDFDF inset;
}