.partners-block {
    background: #fff;
    min-height: 500px;
}

.partners-block-inner {
    padding: 65px 50px;
}

.partners-block__title {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 48px;
    color: #000000;
    text-align: center;
    margin-bottom: 8px;
}

.partners-block__partner-cards {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.partners-block__button {
    margin: 0 auto;
    background: #5A85D4;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 248px;
    height: 56px;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 14px;
    box-shadow:0px 2px 4px 2px rgba(184,183,183,0.79);
    -webkit-box-shadow:0px 2px 4px 2px rgba(184,183,183,0.79);
    -moz-box-shadow:0px 2px 4px 2px rgba(184,183,183,0.79);
}

.block2__show-all {
    width: 100%;
}

.link--partner-cards {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #2F80ED;
    float: right;
}