@font-face {
     font-family: 'roboto-thin';
     src: local('Roboto Thin'),
          url('fonts/roboto/roboto-thin.eot');
     src: url('fonts/roboto/roboto-thin.eot?#iefix') format('embedded-opentype'),
          url('fonts/roboto/roboto-thin.woff2') format('woff2'),
          url('fonts/roboto/roboto-thin.woff') format('woff'),
          url('fonts/roboto/roboto-thin.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 
@font-face {
     font-family: 'roboto-light';
     src: local('Roboto Light'),
          url('fonts/roboto/roboto-light.eot');
     src: url('fonts/roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
          url('fonts/roboto/roboto-light.woff2') format('woff2'),
          url('fonts/roboto/roboto-light.woff') format('woff'),
          url('fonts/roboto/roboto-light.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 
@font-face {
     font-family: 'roboto-regular';
     src: local('Roboto Regular'),
          url('fonts/roboto/roboto-regular.eot');
     src: url('fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/roboto/roboto-regular.woff2') format('woff2'),
          url('fonts/roboto/roboto-regular.woff') format('woff'),
          url('fonts/roboto/roboto-regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 
@font-face {
     font-family: 'roboto-medium';
     src: local('Roboto Medium'),
          url('fonts/roboto/roboto-medium.eot');
     src: url('fonts/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
          url('fonts/roboto/roboto-medium.woff2') format('woff2'),
          url('fonts/roboto/roboto-medium.woff') format('woff'),
          url('fonts/roboto/roboto-medium.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 
@font-face {
     font-family: 'roboto-bold';
     src: local('Roboto Bold'),
          url('fonts/roboto/roboto-bold.eot');
     src: url('fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/roboto/roboto-bold.woff2') format('woff2'),
          url('fonts/roboto/roboto-bold.woff') format('woff'),
          url('fonts/roboto/roboto-bold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}