.quest {
    width: 100%;
    position: relative;
}

.quest__content {
    width: 100%;
}

.quest__head {
    height: 50px;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    border-bottom: 2px solid #BFBFBF;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    margin: 0 auto;
}

.quest__text {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;


    color: #000000;
}

.quest__text_none {
    display: none;
}

.quest__more {
    position: absolute;
    top: 40px;
    right: -32px;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
    line-height: 16px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: rgb(184, 184, 184);
    cursor: pointer;
}