
.about-ask-question-button {
    margin: 40px 360px 110px;
    width: 146px;
}

.be-partner-button {
    width: 146px;
}

.page-button {  
    padding: 7px 22px;
    display: block;
    text-decoration: none;
    outline: none;
    background: #445B94;
    border: 1px solid #636164;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
}

.page-button:hover {
    background: #2B3349;
}

.page-button-text {
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.about-ask-question-button-text {
    font-family: 'roboto-medium', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

.content-2finorg {
    margin-top: 100px;
    padding: 70px 80px 125px;
    background-color:#efefef;
}


.finorg-info-block {
    display: flex;
    justify-content: space-between;
}

/* .finorg-left-block {} */

.to-business-header {
    margin: 0 0 40px;
    font-family: 'roboto-light', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    color: #333333;
}

.to-business-text {
    margin-bottom: 30px;
    font-family: 'roboto-light', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.to-business-list {
    list-style: none;
    margin-left: 40px;
}

.to-business-item {
    margin-bottom: 17px;
    font-family: 'roboto-light', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
    position: relative;
}

.to-business-item:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    top: 0;
    background-image: url(./../../img/list-marker.png);
}

.finorg-right-block {
    margin: 0 0 135px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finorg-info-block-image {
    margin-bottom: 40px;
    display: block;
    width: 335px;
}

.be-partner-button-text {
    font-family: 'roboto-regular', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

/* .finorg-be-partner-button {} */

.h-line {
    margin: 0 auto;
    width: 1210px;
    height: 1px;
    background: #000000;
}

.why-we-list-finorg {
    margin-right: 160px;
}

.why-we-item-finorg {
    width: 450px;
}